# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/
env.bak/
venv.bak/
*.egg-info/
.Python
db.sqlite3
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.local
.env.*.local

# Log files
*.log

# Coverage reports
.coverage
coverage.xml
*.cover
*.py,cover

# Distribution / packaging
build/
dist/
*.egg
*.egg-info/
MANIFEST

# Miscellaneous
*.DS_Store
*.swp
Thumbs.db
